body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2D4059;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  min-height: 100%;
  width: 100%;
}
.bt-signin{
  
  width: 20vh;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  border-radius: 5rem;
  border: 3px solid #FF5722;
  color: #FF5722;
  font-size: 2.3vh;
  height: 35px;
  outline: none;
  transition: .1s;
  cursor: pointer;
}
.bt-up{
  margin: 0.5rem 1rem auto auto;
}
.bt-signin:hover{
  background-color: #FF5722;
  color: #FFff;
}
.bar_header {
  position: relative;
  height: 52px;
  background-image: none;
  background-color: #EEEEEE;
  width: 100%;
}

.area_header {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  margin: auto auto auto auto;
  width: 100%;
  z-index: 1;
}

.text_header{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  font-weight: bold;
  margin: auto 1rem auto 1rem; 
  font-family: 'Josefin Sans', sans-serif;
  width: 50%;
  font-size: 2rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.8rem;
  background: #FF5722;
  text-shadow: 2px 2px 5px #ff562244;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link-head{
  text-decoration: none;
}

.sub-header{
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FF5722;
  box-shadow: #ff562231 0px 4px 8px 0px,
  #ff562236 0px 6px 20px 0px;
}

.Footer_area {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  width: 100%;
  bottom: 0rem;
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  background-color: #222831;
}

.text_footer {
  position: absolute;
  width: 100%;
  user-select: none;
  text-align: center;
  color: rgb(253, 253, 253);
  font-family: Mali;
  transform-origin: 50% 50% 0px;
  font-size: 20px;
  height: 0.8rem;
  bottom: .1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  margin-left: -2rem;

}
.cards li {
  text-align: center;
  list-style-type: none;
  flex: 0 1 auto;
  height: 16rem;
  width: auto;
  background-color: rgba(255, 255, 255, 0.842);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: .2s;
  margin: 0.3rem;
}
.zoomincard:hover{
  transform: scale(1.05);
}
.card{
  font-family: Mali;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  color: black;
}

.card-title{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-img{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  height: 100%;
}

#imgup{
  display: none;
}

.showimg{
  display: block;
  margin: 2rem auto 2rem auto;
  width: 120vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.backdown{ 
  font-size: 2.5vh;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 4px #00000073;
  color: #fff;
  display: block;
  width: 120vh;
  margin: auto auto 5rem auto;
}
